.scannerContainer {
  width: 100%;
}

#quagga-scanner {
  position: relative;
  video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  canvas {
    display: none;
  }

  #scan-laser {
    position: absolute;
    top: 50%;
    width: 60%;
    border: 2px solid red;
    border-radius: 20%;
    margin-left: 20%;
  }
}
