@import "../../base.scss";



// body {
//   background: linear-gradient(to right, $aqua, $green);
// }


.personalinfo {

    min-width: 90%;
    max-width: 60%;
    position: relative;
    margin: 4% auto 0 auto;

  h3{
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 2px;
    font-size: $size1;
  
  }
  
  p {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, $aqua, rgba($green,.5)) 1 0%;
    border-top: 0;
    font-size: $size1;
    padding: 7px 0;
    color: $black;
  }
  span {
    font-size: .5rem;
    color: $gray;
  }
  
  .btn {
    float: right;
  
    text-transform: uppercase;
    font-size: $size1;
    border: none;
    color: $aqua;
  }
  
  .btn:hover {
    text-decoration: underline;
    font-weight: 900;
  }
  
  input {
    border: 1px solid lighten($gray,40%); 
    padding: 2px;
    margin: 0;
  }
  
 
}






